<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Snippet:</strong>
  <%= @comment.snippet %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<%= link_to 'Edit', edit_snippet_comment_path(@comment) %> |
<%= link_to 'Back', snippet_comments_path %>
